* {
    box-sizing: border-box;
}
body{
    background-color: lightyellow;
    font-family: 'Raleway', sans-serif;
}
 section{
     height: 100vh;
     width: 50%;
     float: left;
     display: flex;
     align-items: center;
     justify-content: center;
 }

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("https://cdn.pixabay.com/photo/2018/03/18/09/08/pattern-3236081_960_720.jpg");
    background-repeat: no-repeat;
    width: 370px;
    height: 430px;
    border-radius: 6px;
    padding: 6px;
}

 .header{
     display: flex;
     width: 90%;
     background-color: lightgrey;
     opacity: 70%;
     margin-left: auto;
     margin-right: auto;
     border-radius: 3px;
     margin-top: 50px;
     /*padding: 2px;*/
 }

h1{
    text-align: center;
    color: white;
    opacity: 70%;
    margin-top: 50px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 70px;
}

p{
    text-align: center;
}

span{
    text-decoration-color:white;
}

.field {
    display: flex;
    width: 90%;
    background-color: white;
    opacity: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 7px;
}

input{
    margin-right: 2px;
    margin-left: auto;
}

.field_btn{
    display: flex;
    justify-content: center;
}

.btn{
    background-color: white;
    color: #AA935D;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.field_btn_result{
    width: 90%;
    background-color: white;
    color: #AA935D;
    opacity: 80%;
    border-radius: 3px;
    padding: 7px;
    margin: auto;
}

.progress{
    display: flex;
    justify-content: space-between;
    height: 35px;
    width: 90%;
    background-color: white;
    opacity: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
    border-radius: 6px;
}

.progress-bar{
    display: flex;
    color:#000!important;
    background-color:#9e9e9e!important;
    height: 100%;
    border-radius: 6px;
}

.progress-result{
    display: flex;
}
.result{
    padding: 7px;
    align-self: center;
}
